<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About service</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/Signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/Pdd/static/js/functions.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   <script src="/static/js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
 
</head>
<body>






  {%extends 'Shared_part.html'%}



  {% block content %}
  


<section class="contact">

  <div class="wow animate__animated animate__bounceInDown"><h1> Contact <span style="color:#00afe4;">with</span> Team now</h1></div>

<br>
<div class="btn-box" >
  <div >
  <a href="#coll" style="padding:10px;color: aliceblue;">Contact </a>
   </div>

</div>


</div>
</section>

<section class="members-container">

<div class="row " id="coll">
<h2 class="title">Our Team </h2>

</div>
<div class="row" >
<div class="coll "  >
<div class="card wow animate__animated animate__backInLeft" >
<div class="img-container">

<img src="/static/madia/man.png" alt="abdallah">
</div>

<h3>Abdallah Osama</h3>
<p>facility of computer and artificial intelligence cairo university</p>
<a href="https://www.linkedin.com/in/abdallah-osama-005544215/">

<i class="fab fa-linkedin"></i>

</a>
<a href="mailto:abdallahosama8053@gmail.com">

  <i class="fa-solid fa-envelope"></i>
  
</a>
<a href="https://github.com/Abdallahosama55">

  <i class="fab fa-github"></i>
  
</a>

</div>
</div>
<div class="coll" >
  <div class="card wow animate__animated animate__heartBeat">
  <div class="img-container">
  
  <img src="/static/madia/man.png" alt="abdallah">
  </div>
  
  <h3>Amr Hosney</h3>
  <p>facility of computer and artificial intelligence cairo university</p>
  <a href="https://www.linkedin.com/in/amr-hosney-466088252/">
  
  <i class="fab fa-linkedin"></i>
  
  </a>
  <a href="mailto:amrhosni121@gmail.com">
  
    <i class="fa-solid fa-envelope"></i>
    
  </a>
  <a href="https://github.com/amrhosny121">
  
    <i class="fab fa-github"></i>
    
  </a>
  
  </div>
  </div>
  <div class="coll">
    <div class="card wow animate__animated animate__backInRight ">
    <div class="img-container">
    
    <img src="/static/madia/girl.png" alt="abdallah">
    </div>
    
    <h3>Salma Maher</h3>
    <p>facility of computer and artificial intelligence cairo university</p>
    <a href="https://www.linkedin.com/in/salma-maher-635986248">
    
    <i class="fab fa-linkedin"></i>
    
    </a>
    <a href="mailto:shasalma45@gmail.com">
    
      <i class="fa-solid fa-envelope"></i>
      
    </a>
    <a href="#">
    
      <i class="fab fa-github"></i>
      
    </a>
    
    </div>
</div>

    <div class="coll">
      <div class="card wow animate__animated animate__backInLeft">
      <div class="img-container">
      
      <img src="/static/madia/girl.png" alt="abdallah">
      </div>
      
      <h3>Hadeel Ali</h3>
      <p>Faculity of Computer And Artificial Intelligence,Cairo University</p>
      <a href="https://www.linkedin.com/in/hadeel-ataya-7925a3241">
      
      <i class="fab fa-linkedin"></i>
      
      </a>
      <a href="mailto:hadeelataya63@gmail.com">
      
        <i class="fa-solid fa-envelope"></i>
        
      </a>
      <a href="#">
      
        <i class="fab fa-github"></i>
        
      </a>
      
      </div>
</div>
      <div class="coll ">
        <div class="card wow animate__animated animate__backInUp">
        <div class="img-container">
        
        <img src="/static/madia/girl.png" alt="abdallah">
        </div>
        
        <h3>Fatma Mohamed</h3>
        <p>facility of computer and artificial intelligence cairo university</p>
        <a href="https://www.linkedin.com/in/fatma-okasha-bb1445225">
        
        <i class="fab fa-linkedin"></i>
        
        </a>
        <a href="mailto:fatmaokasha01gmail.com">
        
          <i class="fa-solid fa-envelope"></i>
          
        </a>
        <a href="#">
        
          <i class="fab fa-github"></i>
          
        </a>
        
        </div>
</div>

</div>

</section>





<div id="signin_signup"></div>






<script src="/static/js/functions.js"></script>
<footer>


</footer>
</body>
</html>
{% endblock %}


