

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hand-writen-test</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/home-after-register.css">
    <link rel="stylesheet" href="/static/css/Signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

</head>
<body>
    


<!--Navigation bar-->
<div id="nav-placeholder">

</div>

{%extends 'nav-after-register.html'%}



{% block content %}



<section class="contact">

<div class="animate__animated animate__bounce"><h1> Thanks  <span style="color:#00afe4;">For </span>registration </h1></div>
<div style="display: block;text-align:center;justify-content: center">
<br>
<a href="#voice_test_parkinson" onclick="voice_test()"><button class="butten-test bntest">Voice Test</button></a>
<a href="#image_test_parkinson" onclick="image_test()"><button class="butten-test bntest">Image Test</button></a>
</div>

</section >
<section id="image_test_parkinson">
<section class="image_test_instruction" style="color: black;">
  <div class="ins-container">
  <h3 >Test Steps</h3>
  <div style="text-align: center;">
  <i class="fa fa-pencil" id="icon_Steps" aria-hidden="true"></i>
<h4 >Drawing Sprial , Mender Or circle on The paper</h4></div>

<div style="text-align: center;">
  <i class="fa fa-upload" aria-hidden="true" id="icon_Steps"></i>
<h4>Upload Image</h4></div>
<div style="text-align: center;">
  <i class="fa fa-check" id="icon_Steps" aria-hidden="true"></i>
<h4 >Get Result</h4></div>

</div>



</section  >

<section >
    <form name="upload" method="post" action="predict" enctype="multipart/form-data" accept-charset="utf-8" id="myForm">
<h1  class="h1-test">Handwriten parkinson test</h1>
<hr style="height:5px;width:40%;text-align: center;background-color:#00afe4; margin-top:2%;margin-left:30%; border-color:none;border:none;border-radius:30%;">

    <div class="form">
    <input type="file" name="fileup" id="entry_value" ref="fileInput"   >
    <img src="" alt="Image Preview" id="image_view" class="img-fluid" >
        <div class="result"> <p></p>
        </div>
    <div>     
       

        <img src="/static/madia/upload.png" alt="upload"    id="img_upload" >
      <span id="span-img-icon"> Upload your image here or </span> 
        
        <button class="btn bg-color-dblue btn-primary px-4 py-3" id="browse-btn">Browse</button>
      </div>
    <span id="fileName" class="text-primary ">
    </span>

        <button type="submit" class="btn-check" id="check"> Check</button>
    </form>
    <table class="table w-100 mx-auto text-center">
      <thead>
          <th>id</th>
          <th>img</th>
          <th>State</th>
          <th>delete</th>
      </thead>
      <tbody id="TableBody">
      </tbody>
    </table>



</section>
</section>
<section id="voice_test_parkinson">
<section class="image_test_instruction" style="color: black;">
  <div class="ins-container">
  <h3 >Test Steps</h3>
  <div style="text-align: center;">
    <i class="fa-solid fa-microphone"  id="icon_Steps" ></i>
<h4 >Record MDVP, JITTER,NHR,RBDE</h4></div>

<div style="text-align: center;">
  <i class="fa-solid fa-microphone" id="icon_Steps"></i>
<h4>Record Spread,HNR,DEA,PPE,D2</h4></div>
<div style="text-align: center;">
  <i class="fa fa-check" id="icon_Steps" aria-hidden="true"></i>
<h4 >Get Result</h4></div>

</div>


</section>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,240C672,256,768,224,864,197.3C960,171,1056,149,1152,138.7C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
<script src="/static/js/test.js"></script>
<script src="/static/js/functions.js"></script>
</body>
</html>  



{% endblock  %}
