
    <nav class="navbar">
        <div class="navbar-container container-nav">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="{{ url_for('home') }}">Home</a></li>

                <li><a href="{{ url_for('about_tool') }}">About</a></li>
                
          
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="#" onclick="clicking_signin()">Sign In</a></li>
                <li><a href="#" onclick="clicking()">Sign Up</a></li>
            </ul>
            <h1 class="logo">PDD</h1>
        </div>
        </nav>
       





         <div class="container" id="signup">
        
                <header>Signup</header>
                <div class="progress-bar">
                  <div class="step">
                    <p>Name</p>
                    <div class="bullet">
                      <span>1</span>
                    </div>
                    <div class="check fas fa-check"></div>
                  </div>
                  <div class="step">
                    <p>Contact</p>
                    <div class="bullet">
                      <span>2</span>
                    </div>
                    <div class="check fas fa-check"></div>
                  </div>
                  <div class="step">
                    <p>Birth</p>
                    <div class="bullet">
                      <span>3</span>
                    </div>
                    <div class="check fas fa-check"></div>
                  </div>
                  <div class="step">
                    <p>Submit</p>
                    <div class="bullet">
                      <span>4</span>
                    </div>
                    <div class="check fas fa-check"></div>
                  </div>
                </div>
                <div class="form-outer">
                  <form action="/register" method="post" enctype="multipart/form-data">
                    <div class="page slide-page">
                      <div class="title">Basic Info:</div>
                      <div class="field">
                        <div class="label">First Name</div>
                        <input type="text" name="firstname" required>
                      </div>
                      <div class="field">
                        <div class="label">Last Name</div>
                        <input type="text" name="lastname" required>
                      </div>
                      <div class="field">
                        <button class="firstNext next" type="button">Next</button>
                        
                        <button id="cancel" onclick="clicking_close()">cancel</button>
                        
                      </div>
                    </div>
          
                    <div class="page">
                      <div class="title">Contact Info:</div>
                      <div class="field">
                        <div class="label">Email Address</div>
                        <input type="email"  name="email"required>
                      </div>
                      <div class="field">
                        <div class="label">Phone Number</div>
                        <input type="Number" name="phonenumber"  maxlength="11" required>
                      </div>
                      <div class="field btns">
                        <button class="prev-1 prev" type="button">Previous</button>
                        <button class="next-1 next" type="button">Next</button>
                      </div>
                    </div>
          
                    <div class="page">
                      <div class="title">Date of Birth:</div>
                      <div class="field">
                        <div class="label">Date</div>
                        <input type="date" name="date" required>
                      </div>
                      <div class="field">
                        <div class="label" >Gender</div>
                        <select name="gender" required>
                          <option>Male</option>
                          <option>Female</option>
                        
                        </select>
                      </div>
                      <div class="field btns">
                        <button class="prev-2 prev" type="button">Previous</button>
                        <button class="next-2 next" type="button">Next</button>
                      </div>
                    </div>
          
                    <div class="page">
                      <div class="title">Login Details:</div>
                      <div class="field">
                        <div class="label">Username</div>
                        <input type="text" name="username" required >
                      </div>
                      <div class="field">
                        <div class="label">Password</div>
                        <input type="password" name="password" required >
                      </div>
                      <div class="field btns">
                        <button class="prev-3 prev">Previous</button>
                        <button class="submit">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
        
        
        
              <div class="container-signin" id="signin">
        
                <header>Login</header>
        
        
              <div class="form-outer">
                <form action="/login" method="post" enctype="multipart/form-data">
                  <div class="page slide-page">
                    <div class="title"></div>
                    <div class="field">
                      <div class="label">Username</div>
                      <input type="text" name="username">
                    </div>
                    <div class="field">
                      <div class="label">Password</div>
                      <input type="password" name="password" required>
                    </div>
                    <div class="field">
                      <button type="submit">submit</button>

                      <button type="button"  onclick="clicking_close_in()">cancel</button>

                    </div>
                  </div>

                  </form>
                                 {% if error %}
		<p style="color: red;">{{ error }}</p>
	{% endif %}
                  </div>
                  </div>

              

            <script src="/static/js/functions.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
   
          
            {% block content %}
            {% endblock %}
    